---
Language: Cpp 
BasedOnStyle: WebKit
ColumnLimit: '80'
ConstructorInitializerIndentWidth: '0'
TabWidth: '4'
UseTab: Never
IndentCaseLabels: true
FixNamespaceComments: true
IndentPPDirectives: BeforeHash
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: None
SortIncludes: false
AlignConsecutiveMacros: true
...
